html{
    /* background-color: white; */
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    height: 20vh;
}
img{
    height: 20vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    justify-content: center;
}
.butao{
    color: white;
    background: #FF0000;
    border: none;
    border-radius: 22px;
    height: 10vh;
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
footer{
    position: fixed;
    bottom: -80vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FF7777;
    border-radius: 25px 25px 0 0;
    padding: 0;
    transition: 0.75s;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);

}
#slide{
    position: fixed;
    width: 150px;
    height: 3px;
    background: white;
    border-radius: 10px;
}
#cont{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
}
#btnFooter{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}
.botau{
    color: #FF0000;
    background: white;
    border: none;
    border-radius: 22px;
    height: 10vh;
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: larger;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#shut{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shutButton{
    border: none;
    padding: 0;
    background: none;
    width: 75px;
    height: 75px;
    
}
#shutButton img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#user{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}